.file-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.files {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.files a {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
}

.files a:hover {
    text-decoration: underline;
}

.excel-icon {
    width: 24px;
    height: 24px;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f1f1f1;
}
/* סגנונות עבור תפריט הקשר */
.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    border-radius: 3px;
}

.context-menu ul li:hover {
    background-color: #f1f1f1;
}

.delete-button {
    width: 150px;
    height: 50px;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.notification {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


