header {
    grid-area: header;
    position: relative;
    height: 150px;
    background-image: url("/images/header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
