<%-include("pageTop.ejs")%>
<title>העלאת קבצים</title>
<main>
        <h1>העלאת קבצים</h1>
    <form id="upload-form" action="/addFile/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="upload-container" id="upload-container" ondragover="dragOver(event)" onclick="inputClick()">
            <input type="file" name="file" id="file-input" accept=".xlsx">
            <div class="upload-icon">
                <img src="/images/excel-icon.png" alt="Excel Icon" />
            </div>
            <div class="upload-text" id="upload-text">גרור ושחרר את הקובץ כאן או לחץ לבחירה</div>
        </div>
        <div class="button-container">
            <a class="button" id="myButton" href="/DownloadFiles/filesAppList" >קבצים לאחר העיבוד</a>
            <button class="button" id="toUploadPage" type="submit">העלה קובץ</button>
            <a class="button" id="myButtonBC" href="/DownloadFiles/filesAppListBC" >קבצים שהועלו</a>
        </div>
    </form>
</main>
<script src="/js/scriptAddPage.js"></script>

<%-include("pageBottom.ejs")%>

