<footer>
        <img id="logo" alt="logo" src="/images/logo.jpg">
        <span id="create">
        <i>Backend : <a href="https://github.com/Natipinyan">Nati Piniyan</a></i>
        <i>Frontend : <a href="https://github.com/ZionAmar"> Zion Amar</a></i>
    </span>
</footer>
</body>

</html>