<footer>
    <div id="txt">
        ...טקסט...
    </div>
    <div>
        <span><img id="logo" alt="logo" src="/images/logo.jpg"></span>
        <span id="create">
        <i>Code::<a href="https://github.com/Natipinyan">Nati Piniyan</a></i>
        <i>Design::<a href="https://github.com/ZionAmar"> Zion Amar</a></i>
    </span>
    </div>
</footer>
</body>

</html>