<%-include("pageTop.ejs")%>
<main>

    <h1>הקובץ הועלה בהצלחה</h1>
    <div class="button-container">
    <a class="button" id="myButton" href="/DownloadFiles/filesAppList" >קבצים לאחר עיבוד</a>
    <a class="button" id="toUploadPage" href="/addFile" >העלאת קבצים</a>
    <a class="button" id="myButtonBC" href="/DownloadFiles/filesAppListBC" >קבצים שהועלו</a>
    </div>
</main>
<%-include("pageBottom.ejs")%>
